* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  color: #f4d58d;
}
.mainframe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  background-color: #001427;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img_logo {
  width: 96px;
  height: 96px;
}
.nav_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav_list {
  list-style: none;
  display: inline-flex;
}
.nav_item {
  color: #f4d58d;
  padding: 0 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.nav_icon {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  cursor: pointer;
}
.container_header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_container {
  width: 80%;
  padding: 60px 0;
  height: auto;
  display: grid;
  column-gap: 48px;
  grid-template-columns: 40% auto;
}
.input_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_title-larger,
.item_title-low {
  color: #ffffff;
  font-size: 64px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.item_title-low {
  font-size: 48px;
}
.item_link,
.item_items {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0;
}
.item_items {
  color: #708d81;
  opacity: 0.8;
}
.input_detail {
  display: flex;
  flex-direction: column;
}
.input_title {
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}
.input_detail-gird {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
}
.infomation_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ma_infomation {
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}
.ma_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_text {
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.item_time {
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}
.icon_danhmuc {
  width: 56px;
  height: 56px;
}
@media (max-width: 767px) {
  .img_container {
    display: none;
  }
  .container_header {
    display: block;
  }
  .input_container {
    width: 100%;
    display: block;
  }
  .input_frame {
    width: 100%;
  }
  .mainframe {
    height: auto;
  }
  .img_logo {
    width: 56px;
    height: 56px;
  }
  .nav_menu {
    display: none;
  }
  .input_detail {
    margin-top: 32px;
  }
  .input_detail-gird {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container_header {
    display: flex;
    justify-content: center;
  }
  .input_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainframe {
    height: auto;
  }
  .input_frame {
    width: 100%;
  }
  .img_logo {
    width: 76px;
    height: 76px;
  }
  .nav_item {
    font-size: 18px;
  }
  .input_detail {
    margin-top: 32px;
    justify-content: center;
  }
  .icon_danhmuc {
    display: none;
  }
}
@media (min-width: 1024px) {
  .icon_danhmuc {
    display: none;
  }
}
